@mixin ensemble-box($background-color: rgba(39, 39, 46, 0.9), $margin: 3% 15%, $padding: 0){
    background-color: $background-color;
    margin: $margin;
    padding: $padding;
}

@mixin size($width: 1200px, $height: 800px){
    width: $width;
    height: $height;
}

@mixin borders ($border: 2px solid #27272E, $border-radius: 30px){
    border: $border;
    border-radius: $border-radius;
}

@mixin box-shadow-presentation($params...) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin center-element ($justify-content: space-evenly, $align-content: center, $align-items: center){
    justify-content: $justify-content;
    align-content: $align-content;
    align-items: $align-items;
}

@mixin backgroundRadient($backgroundRadient: linear-gradient(145deg,rgba(30, 32, 36, 0.8), rgba(35, 39, 43, 0.8))){
    background: $backgroundRadient;
}